/* style-dark.css */

/* Réinitialisation de base */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #E0E0E0;
}

/* En-tête */
header {
    background: linear-gradient(90deg, #181818, #282828);
    color: #E0E0E0;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
}

.main-title {
    font-size: 5vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #E0E0E0;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    background-color: #181818;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #E0E0E0;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #333333;
    color: #FFFFFF;
    border-radius: 5px;
}

/* Section Hero */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    text-align: center;
    color: #E0E0E0;
    border-radius: 10px;
}

/* Boutons */
.btn {
    background-color: #333333;
    color: #E0E0E0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #444444;
    color: #FFFFFF;
}

/* Pied de page */
footer {
    background-color: #181818;
    color: #E0E0E0;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
